body {
  background-color: #333;
  color: #fff;
  font-family: sans-serif;
}

.wrapper {
  padding: 50px;
  height: 100%;
}

.flexbox {
  border: 20px solid rgb(231, 203, 172);
  margin-bottom: 20px;
  height: 100%;
}

.flexbox__item {
  border: 20px solid rgb(143, 119, 91);
}

.flexbox__item-content {
  background-color: rgb(83, 64, 44);
  text-align: center;
  padding: 50px;
  font-size: 3rem;
}

.flexbox {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* ------------------------------------------ */

.flexbox-1 {
  border: 20px solid rgb(231, 203, 172);
  margin-bottom: 20px;
  height: 100%;
}

.flexbox__item-1 {
  border: 20px solid rgb(143, 119, 91);
}

.flexbox__item-content-1 {
  background-color: rgb(83, 64, 44);
  text-align: center;
  padding: 50px;
  font-size: 3rem;
}

.flexbox-1 {
	display: flex;
	align-items: center;
}
.flexbox__item-1 {
	flex-basis: 20%;
}


